@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  font-family: 'Handjet', cursive;
}

.main {
  height: 100vh;
  background-color: black;
  overflow: auto;
}

.mask,
.body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 60px;
  line-height: 66px;
  cursor: default;
}

.body h1 {
  font-size: 120px;
}

.mask p,
.body p {
  width: 1000px;
  padding: 40px;
}

.mask {
  mask-image: url('../public/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #ffffff;
  position: absolute;
  color: black;
}

/* Media Queries */

@media only screen and (max-width: 979px) {
  .mask,
  .body {
    font-size: 40px;
    line-height: 36px;
    height: 50%;
  }
}

@media only screen and (max-width: 658px) {
  .mask,
  .body {
    font-size: 30px;
    line-height: 24px;
  }
  
  .mask p {
    display: none;
  }
  .mask {
    display: none;
  }
}

@media only screen and (max-width: 490px) {
  .mask,
  .body {
    font-size: 20px;
    line-height: 36px;
  }
}
